@font-face {
    font-family: 'Roboto-regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: grid;
    grid-template-columns: 20px 8fr 3fr 20px;
    border: 1px solid #e6e6e6;
    color: black;
    border-radius: 5px;
    width: auto;
    height: 6em;
    text-decoration: none;
    font-family: "Roboto-regular";
    box-shadow: 1px 1px 2px #e6e6e6;
    align-items: center;
}

.icon {
    grid-column: 2/3;
    font-size: 2rem;
    font-weight: 700;
    display: grid;
    grid-template-columns: 70px 1fr;
    text-align: start;
    align-items: center;
}

.contact {
    grid-column: 3/4;
    font-size: 1.3rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

#nav-button {
    background-color: #ffffff;
    border: none;
}

.navbar-scroll {
    display: grid;
    grid-template-columns: 20px 8fr 3fr 20px;
    align-items: center;
}

.contact-scroll {
    grid-column: 3/5;
    font-size: 1.3rem;
    font-weight: 500;
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    color: black;
    border-radius: 5px;
    width: auto;
    margin-top: 0.2em;
    padding: 20px;
    height: 6em;
    text-decoration: none;
    font-family: "Roboto-regular";
    box-shadow: 1px 1px 2px #e6e6e6;
    white-space: nowrap;
    width: auto;
}

.show {
    display: grid;
}

.contact a {
    padding: 0em 0.5em;
}

.contact-menu {
    display: none;
}

.section {
    padding: 30px 0px;
    border-bottom: 1px solid #e6e6e6;
}

.title {
    color: black;
    font-family: "Roboto-bold";
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.title p {
    font-family: "Roboto-regular";
    font-weight: 500;
    font-size: 0.7em;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    color: black;
    text-decoration: none;
    align-items: center;
    text-align: start;
    font-family: "Roboto-bold";
    font-weight: 500;
    font-size: 1.2em;
}

input {
    border: 2px solid #e6e6e6;
    border-radius: 7px;
    height: 2em;
    font-family: "Roboto-regular";
    font-weight: 300;
    font-size: 1em;
}

.form-title {
    grid-area: 1 / 2 / 7 / 3;
    text-align: start;
}

.form-name {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.form-mail {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

/* .form-subject {
    grid-area: 3 / 3 / 4 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.form-input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 5px;
} */

.form-subject {
    grid-area: 3 / 3 / 4 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.form-input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    /* Centrer verticalement chaque cellule */
    gap: 10px;
}

.form-subject label {
    display: grid;
    /* Pas besoin de flex ici */
    align-items: center;
    /* Centrer verticalement le texte */
    justify-items: center;
    /* Centrer horizontalement */
    text-align: center;
    /* Juste au cas où */
    min-height: 2.5em;
    /* Maintenir une hauteur fixe */
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 10px;
    font-family: "Roboto-regular";
    font-weight: 400;
    font-size: 1em;
}

.form-message {
    grid-area: 4 / 3 / 5 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.form-file {
    grid-area: 5 / 3 / 6 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.form-buttons {
    grid-area: 6 / 3 / 7 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

@media (max-width: 681px) {
    .section {
        padding: 5px;
    }

    .contact {
        display: none;
    }

    .contact-menu {
        display: grid;
        justify-content: end;
    }

    .icon {
        font-size: 1.5em;
    }

    .title {
        margin: 0.2em 0em;
    }
    .contact-form {
        grid-template-columns: 1fr;
    }

    .form-title {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 1.5em;
        text-align: center;
    }

    .form-name {
        grid-area: 2 / 1 / 3 / 2;
        padding: 0em 0.5em;
    }

    .form-mail {
        grid-area: 3 / 1 / 4 / 2;
        padding: 0em 0.5em;
    }

    .form-subject {
        grid-area: 4 / 1 / 5 / 2;
        padding: 0em 0.5em;
    }

    .form-message {
        grid-area: 5 / 1 / 6 / 2;
        padding: 0em 0.5em;
    }

    .form-file {
        grid-area: 6 / 1 / 7 / 2;
        padding: 0em 0.5em;
    }

    .form-buttons {
        grid-area: 7 / 1 / 8 / 2;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .icon {
        font-size: 1em;
    }
}

.form-subject input[type="radio"] {
    display: none;

    &:not(:disabled)~label {
        cursor: pointer;
    }

    &:disabled~label {
        color: hsla(150, 5%, 75%, 1);
        border-color: hsla(150, 5%, 75%, 1);
        cursor: not-allowed;
    }
}

/* .form-subject label {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 2.5em;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 10px;
    font-family: "Roboto-regular";
    font-weight: 400;
    font-size: 1em;
} */

.form-subject input[type="radio"]:checked+label {
    background: black;
    color: hsla(215, 0%, 100%, 1);
}

#submit-form {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    height: 3em;
    width: 16em;
    cursor: pointer;
    ;
}